<!DOCTYPE html>
<html>
  <head>
    <title>Jon Bamber</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <style>
      body {
        background-color: #121212;
        color: #fff;
        font-family: "Courier";
        margin: 0;
      }
      .header {
        background-color: #1e1e1e;
        padding-top: 15px;
        padding-bottom: 20px;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
      }
      .header h1 {
        font-size: 38px;
        margin: 0;
      }
      .header p {
        font-size: 18px;
        margin: 0;
        padding-top: 10px;
      }
      .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 160px;
      }
      .profile-image {
        width: 100%;
        max-width: 200px;
        border-radius: 50%;
        margin-right: 50px;
      }
      .profile-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: 600px;
      }
      .profile-info h2 {
        font-size: 20px;
        margin: 0;
      }
      .profile-info p {
        font-size: 18px;
        margin: 20px 0;
      }
      .buttons {
        display: flex;
        flex-direction: row;
      }
      .buttons a {
        display: inline-block;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
        background-color: #1e1e1e;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
      }
      .buttons a:hover {
        background-color: #fff;
        color: #1e1e1e;
        transition: all 0.3s ease-in-out;
      }
      @media only screen and (max-width: 768px) {
        .container {
          flex-direction: column;
          align-items: center;
          margin-top: 130px;
          padding: 10px;
        }
        .profile-image {
          margin-right: 0;
          margin-bottom: 20px;
        }
        .profile-info {
          max-width: 75%;
          text-align: center;
          align-items: center;
        }
        .profile-info h2 {
          font-size: 24px;
        }
        .profile-info p {
          font-size: 16px;
          margin: 10px 0;
        }
        .buttons {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        .buttons a {
          margin: 5px 0;
        }
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <h1>Jon Bamber</h1>
      <p>DevOps Engineer | Azure | AWS</p>
    </div>
    <div class="container">
      <img
        src="./profile_picture.png"
        alt="Profile Picture"
        class="profile-image"
      />
      <div class="profile-info">
        <h2>About Me</h2>
        <p>
          I am a Cardiff-based DevOps engineer who builds Cloud solutions in
          Azure and AWS.
        </p>
        <div class="buttons">
          <a href="https://github.com/jonbamber" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/jonbamber/" target="_blank"
            >LinkedIn</a
          >
          <a href="/bamber_jon_cv.pdf" target="_blank">CV</a>
          <a href="mailto:${email_address}">Contact</a>
        </div>
      </div>
    </div>
  </body>
</html>
